
<form action="/questions/answer" method="get" class="form-inline my_form">
  <input class="form-control input" type="text" name="input" placeholder="Talk to your coach">
  <input class="btn btn-primary" type="submit">
</form>


